@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

input,
button {
  font: inherit;
}

span {
  display: block;
}

:root {
  --clr-primary: hsl(210, 20%, 98%);
  --clr-secondary: hsl(216, 12%, 84%);
  --clr-accent: hsl(218, 11%, 65%);
  --text-color: hsl(217, 19%, 27%);
}

body {
  display: grid;
  grid-template-columns: 15% 1fr;
  background-color: var(--clr-secondary);
}

.d-flex {
  display: flex;
  align-items: center;
}

.account-image {
  border-radius: 50%;
}

.content-container {
  border-radius: 0.8125rem;
  background-color: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.11);
}

.aside-container {
  padding: 1em 2.5em;
}

/* SIDEBAR */

.sidebar {
  padding: 1em;
  background-color: var(--clr-accent);
}

.sidebar__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.sidebar__container #sidebar__icon {
  width: 50px;
}

#sidebar__icon path {
  fill: var(--clr-primary);
}

.sidebar__container .sidebar__heading {
  font-size: 2rem;
  color: var(--clr-primary);
}

/* SIDEBAR LIST */
.primary-list {
  margin-block: 5rem;
}

.list-items {
  column-gap: 0.75em;
  cursor: pointer;
}

.list-items + .list-items {
  margin-top: 1em;
}

#list__icon {
  display: block;
  width: 1.875rem;
  color: var(--clr-primary);
}

.list-items a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-primary);
}

.list-items a:hover {
  text-decoration: underline;
}

/* HEADER */
.user {
  display: grid;
  gap: 1.5em;
  padding: 1.5em 2.5em;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.11);
}
.top {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.top .search {
  gap: 1em;
}

.search input {
  width: min(90%, 43.75rem);
  padding: 0.35em 0.35em 0.35em 1em;
  border-radius: 1.25rem;
  border: none;
  background-color: var(--clr-accent);
  outline: none;
}

.account {
  gap: 2.5em;
}

.account span {
  font-size: 1.25rem;
  font-weight: bolder;
}

.account span:hover,
.content a:hover {
  text-decoration: underline;
}

.account > * {
  cursor: pointer;
}

.profile {
  column-gap: 1.5em;
}

.profile img {
  object-fit: cover;
}

.bottom .greeting > span:nth-child(2) {
  font-size: 26px;
  font-weight: bold;
}

/* Components */
.components {
  padding: 2em 1.5em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.5em;
}

.projects {
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 1.5em;
}

.projects h2 {
  grid-column: span 2;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project {
  padding: 1em;
  border-left: 6px solid var(--clr-accent);
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.project__name {
  font-size: 1.25rem;
}

.project__desc {
  font-size: 1.0625rem;
}

.project__links {
  margin-top: auto;
  text-align: right;
}

.content {
  padding-block: 1em;
}

.content a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.content p {
  font-size: 0.875rem;
  padding-block: 0.75em;
}

div.content:nth-child(2) {
  border-top: 2px solid var(--clr-accent);
  border-bottom: 2px solid var(--clr-accent);
}

.project__desc,
.content p {
  color: var(--clr-accent);
}

#trending {
  grid-column-start: 2;
}
.trending-container {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.trending-container img {
  background: var(--clr-accent);
}

.hero-status {
  font-size: 1.125rem;
}
