@import url("https://fonts.googleapis.com/css2?family=Oregano&family=Roboto+Condensed&display=swap");

:root {
  --font-oregano: "Oregano", cursive;
  --font-roboto: "Roboto Condensed", sans-serif;

  --background-color: #004b45;
  --clr-primary: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button {
  font: inherit;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--background-color);
  line-height: 1.5;
  min-height: 100vh;
  color: var(--clr-primary);
}

.header {
  text-align: center;
}

.header__title {
  font-family: var(--font-oregano);
  font-size: 3rem;
}

main {
  margin-top: 6.25rem;
  text-align: center;
}

.canvas {
  margin-inline: auto;
  display: grid;
  width: 500px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element {
  border: 1px solid black;
}

button {
  margin-bottom: 0.625rem;
  padding: 0.3125rem 0.5rem;
  border: 1px solid var(--clr-primary);
  border-radius: 0.8125rem;
  font-size: 1.5rem;
  color: var(--clr-primary);
  background-color: var(--background-color);
}

button:hover,
button:focus {
  background-color: var(--clr-primary);
  border: 1px solid var(--background-color);
  color: var(--background-color);
}
