body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

/* Nav Bar */
.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  flex-direction: row-reverse;
}


.nav-items li a {
  text-align: center;
  padding: 10px 8px;
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

.nav-items .button-style {
  color: #fff;
  font-weight: bold;
  background: #1a73e8;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 8px;
  padding: 9px 23px;
  border-radius: 5px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

/* Main Section*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
}

.input-border {
  margin-top: 20px;
  display: flex;
  box-sizing: border-box;
  width: 31%;
  border: solid #f6f6f6 2px;
  padding: 0 10px;
  border-radius: 30px;
}

.input-border:hover{
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
}

.input-field {
  font-size: 14x;
  border: 0;
  width: 582px;
  height: 40px;
}

.input-field:focus {
  outline: 0;
}

.google-button {
  width: 127px;
  height: 36px;
  color: #202124;
  font-size: 14px;
  line-height: 27px;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.below-section {
  margin-top: 25px;
  font-size: 13px;
}

.below-section p a{
  color: blue;
  margin: 3px;
  font-size: 13px;
  line-height: 28px;
}

.below-section p a:hover{
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0,0,0,.54);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.container a:hover{
  text-decoration: underline;
}

.footer-left {
  padding: 10px;
}

.footer-left a,
.footer-right a {
  padding: 15px;
}
